/* Universal style */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* Variable Declaration */
:root {
  --banner-bg: #fff8f3;
  --highlight: #fd6e0a;
  --white: #ffffff;
  --title: #181818;
  --subtitle: #474747;
  --paragraph: #757575;
  --dark-4: #a3a3a3;
  --dark-5: #d1d1d1;
  --dark-6: #e8e8e8;
  --dark-7: #f3f3f3;
  --title-font: 10vw;
  --subtitle-font: 8vw;
  --primary-font: 5vw;
}
.banner-bg {
  background: var(--banner-bg);
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* Header and navigation styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
  padding-top: 50px;
}
.nav-title {
  font-size: 45px;
}
.text-highlight {
  color: var(--highlight);
}
nav ul {
  display: flex;
  font-size: 20px;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}

.btn-primary {
  padding: 10px 20px;
  background: var(--highlight);
  border: 0;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
  color: var(--white);
}
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 300;
  color: var(--subtitle);
}
.banner-title {
  font-size: 80px;
  color: var(--title);
}
.banner-description {
  font-size: 20px;
  color: var(--paragraph);
  margin-bottom: 20px;
}
.btn-contact {
  margin-left: 20px;
  padding: 10px 20px;
  border: 1px solid var(--highlight);
  padding: 10px 20px;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
  color: var(--highlight);
}
/* Main Section Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* About section styles */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-description {
  font-weight: 400;
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}
.about .info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
/* What i do section */
.what-i-do .section-description {
  text-align: center;
  font-weight: 400;
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0 150px;
}
.what-i-do .section-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
/* Resume Section */
.resume-content {
  display: flex;
  gap: 70px;
}
.resume .resume-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-top: 30px;
  margin-bottom: 10px;
}
.resume .subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume .description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
}
.resume-btn {
  text-align: center;
}
/* Contact Section style */
.contact .section-title {
  text-align: left;
}
.contact {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
.contact a {
  text-decoration: none;
  margin-right: 30px;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  nav{
    display: none;
  }
  .banner-bg{
    background: var(--banner-bg);
  }
    .banner {
      margin: 0 5%;
      flex-direction: column;
      align-items: left;
    }
    .banner-subtitle {
      font-size: var(--subtitle-font);
    }
    .banner-title {
      font-size: var(--title-font);
    }
    .btn-primary {
      padding: 5px 10px;
      height: 5vh;
      font-size: var(--primary-font);
    }
    .btn-contact {
      margin-left: 10%;
      padding: 5px 10px;
      height: 5vh;
      font-size: var(--primary-font);
    }
    .banner-description {
      font-size: var(--primary-font);
      margin: 5vh 0;
    }
    .banner img{
      width: 100%;
    }
  
}
@media screen and (min-width: 577px) and (max-width: 992px) {
}
