/* Universal style */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.banner-bg{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
/* Header and navigation styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
}
.nav-title{
    font-size: 45px;
}
.text-highlight{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    font-size: 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}

.btn-primary{
    padding: 10px 20px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    color: white;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 300;
    color: #474747;
}
.banner-title{
    font-size: 80px;
    color: #181818;
}
.banner-description{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.btn-contact{
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid #FD6E0A;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;;
    color: #FD6E0A;
}
